*.egg-info/*
**/__pycache__/*
**/build/*
.DS_Store
scoundrel/rl/transformer_mlp/logs/*
scoundrel/rl/transformer_mlp/checkpoints/*
scoundrel/rl/transformer_mlp/runs/*
scoundrel/rl/transformer_mlp/checkpoints_backup/*
scoundrel/rl/mcts/logs/*
